@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* general styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
    background-color: hsl(217, 54%, 11%);
}

img {
    max-width: 100%;
    display: block;
}

/* seperate styling */

.card {
    max-width: 20rem;
    padding: 1.2rem;
    border-radius: 1.2rem;
    background-image: linear-gradient(180deg, hsl(216, 50%, 18%), hsl(217, 54%, 13%));
    transition: transform 300ms ease;
}

.card:hover {
    transform: scale(1.03);
}

.item__img__container {
    display: block;
    position: relative;
    max-width: 100%;
    border-radius: .9rem;
    overflow: hidden;
}

.item__img__container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: hsl(178, 100%, 50%);
    opacity: 0;
}

.item__img__container::after {
    position: absolute;
    content: url("images/icon-view.svg");
    inset: 42% 42%;
    opacity: 0;
}

.item__img__container:hover::before {
    opacity: .3;
}

.item__img__container:hover::after {
    opacity: 1;
}

.item__info {
    padding: 0 .4rem;
}

.item__title {
    margin-bottom: 0;
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    text-decoration: none;
}

.item__title:hover {
    color: hsl(178, 100%, 50%);
}

.item__desc {
    margin: .7em 0 1.2em 0;
    font-weight: 300;
    line-height: 1.5em;
}

.item__price__time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(139, 172, 218, .2);
}

.item__price,
.item__time {
    display: flex;
    align-items: center;
}

.item__icon {
    margin-right: .4em;
}

.price-eth {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.item__creator {
    display: flex;
    align-items: center;
    margin-top: .6em;
}

.creator__img {
    width: 12%;
    margin-right: 1em;
    border: .15em solid rgba(255 255 255/.6);
    border-radius: 50%;
}

.creator__name {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.creator__name:hover {
    color: hsl(178, 100%, 50%);
}

/* attribution styling */

.attribution {
    position: absolute;
    bottom: 0;
    opacity: .9;
}

.attribution a {
    color: #fff;
    text-decoration: underline;
}

.attribution a:hover {
    color: hsl(178, 100%, 50%);
}